@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#title{
    text-align: center;
    font-family: 'Press Start 2P';
    color: rgb(3, 160, 98);
}


#gui{
    display: flex;
    height: 20em;
}


#goldContainer{
    display: flex;
    height: 6em;
    width: 8em;
    justify-content: center;
    flex-wrap: wrap;
    background-color: gold;
}

#orcContainer{
    display: flex;
}
#playerOrcContainer{
    display: flex;
    justify-content: center;
    height: 8em;
    width: 9em;
    flex-wrap: wrap;
}

#killPlayerOrc{
    display: flex;
    background-color: green;
    justify-content: center;
    width: 100%
}
#killPlayerOrc:hover{
    background-color: red;
}
#killPlayerOrc:active{
    background-color: darkred;
}





div{
    border: 1px solid black;
}


#messageBoard{
    background-color: black;
    color: lime;
}

#messageBoard ul{
    list-style-type: none;
}

#messageBoard li::before{
    content: "> ";
    font-weight: 900;
    text-shadow: 2.2px 0px lime;
}


